<a href="https://colab.research.google.com/github/pr0fez/AI24-Programmering/blob/master/Exercises/03-for-statement-exercise.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

# for statement exercises

---
These are introductory exercises in Python with focus in **for** statement.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Count numbers (*)

Use a **for** statement to count from: 

&nbsp; a) &nbsp; -10 to 10 with one increment (*)

&nbsp; b) &nbsp; -10 to 10 with two increment (*)

<details>

<summary>Answer </summary>

```
a) -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

b) -10  -8  -6  -4  -2  0  2  4  6  8  10
```

</details>

In [15]:
for i in range(-11, 10):
    i += 1
    print(i, end=" ")
print()
for y in range(-11, 10, 2):
    y += 1
    print(y, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10
-10 -8 -6 -4 -2 0 2 4 6 8 10

---
## 2. Arithmetic sum (*)
Use a **for** statement to compute the following sums: 

&nbsp; a) &nbsp; $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

&nbsp; b) &nbsp; $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

<details>

<summary>Answer </summary>

```
a) 1 + 2 + ... + 99 + 100 = 5050 

b) 1 + 3 + 5 +...+ 97 + 99 = 2500
```

</details>

In [30]:
sum = 0
for i in range(0, 100, 1):
    i += 1
    sum += i
    print(i, end="+")
print("=", sum)

sum_odd = 0
for y in range(0, 99, 2):
    y += 1
    sum_odd += y
    print(y, end="+")
print("=", sum_odd)

1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20+21+22+23+24+25+26+27+28+29+30+31+32+33+34+35+36+37+38+39+40+41+42+43+44+45+46+47+48+49+50+51+52+53+54+55+56+57+58+59+60+61+62+63+64+65+66+67+68+69+70+71+72+73+74+75+76+77+78+79+80+81+82+83+84+85+86+87+88+89+90+91+92+93+94+95+96+97+98+99+100+= 5050
1+3+5+7+9+11+13+15+17+19+21+23+25+27+29+31+33+35+37+39+41+43+45+47+49+51+53+55+57+59+61+63+65+67+69+71+73+75+77+79+81+83+85+87+89+91+93+95+97+99+= 5000

---
## 3. Multiplication table (*)
Use **for** statement(s) to:

&nbsp; a) &nbsp; print out the 6th multiplication table from 0 to 10 (*)

&nbsp; b) &nbsp; let the user input the **table**, **start** and **end** of the table. (*)

&nbsp; c) &nbsp; print out a full multiplication table from 0 to 10. (**)


<details>

<summary>Hint</summary>

c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use **f-string**: 

```python
print(f"{number :4}", end = "")
```


</details>


<details>

<summary>Answer </summary>

a)
```
0 6 12 18 24 30 36 42 48 54 60
```

b) e.g. 

```
Which table are you interested in? 5
Specify start of table: 5
Specify end of table: 12

Your 5th multiplication table from 5 to 12: 25 30 35 40 45 50 55 60
```

c)

```
   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100
```

</details>

In [6]:
table = int(input("Type in a number you to multiply: "))
start = int(input("Specify a number you want to start your calculation: "))
end = int(input("Specify how long you want to calculate:  "))


for i in range(start, end + 1):
        tot = table * i
        print(f"{table} * {i} = {tot}")

10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150
10 * 16 = 160
10 * 17 = 170
10 * 18 = 180
10 * 19 = 190
10 * 20 = 200

In [24]:
# 3.C

for y in range(1, 11):
        for z in range(1, 11):
                print(f"{y * z:4}", end="")
        print()

   1   2   3   4   5   6   7   8   9  10
   2   4   6   8  10  12  14  16  18  20
   3   6   9  12  15  18  21  24  27  30
   4   8  12  16  20  24  28  32  36  40
   5  10  15  20  25  30  35  40  45  50
   6  12  18  24  30  36  42  48  54  60
   7  14  21  28  35  42  49  56  63  70
   8  16  24  32  40  48  56  64  72  80
   9  18  27  36  45  54  63  72  81  90
  10  20  30  40  50  60  70  80  90 100

---
## 4. Faculty (*)

Use a **for** statement to compute $n!$. 

$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $

Let the user input $n$.

In [99]:
# n = int(input("Type the faculty: "))
n = 4
tot = 1

for i in range(1, n+1):
    tot *= i
    print(i, end="*")   
print(" =", tot)

1*2*3*4* = 24

--- 
## 5. Guess the number (*)

The computer thinks of a four-digit number. Start by creating a random four-digit number. Use **for** statement to figure out a correct guess

<br>
<details>

<summary>Answer </summary>

e.g.
```
The final guess is 8993
The computer number is 8993
```

</details>

In [2]:
import random as rand

ran_num = rand.randint(1000, 9999)
#ran_num = 6666
low = 1000
high = 9999
guesses = 1
 

for i in range(low, high):
    mid = (low + high) // 2
    i = mid

    if i > ran_num:
        print(f"{guesses}: {i} is too high, try again...")
        guesses = guesses + 1
        high = mid - 1 
        
    elif i < ran_num:
        print(f"{guesses}: {i} is too low, try again...")
        guesses = guesses + 1
        low = mid + 1
    else:
        print(f"{guesses}: {i} is correct!")
        break

1: 5499 is too low, try again...
2: 7749 is too low, try again...
3: 8874 is too high, try again...
4: 8311 is too low, try again...
5: 8592 is too low, try again...
6: 8733 is too high, try again...
7: 8662 is too high, try again...
8: 8627 is too low, try again...
9: 8644 is too high, try again...
10: 8635 is correct!

---
## 6. Rice on chessboard (*)

In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

<img align="left" src="../assets/chessboard.png" width="300"/>

<details>

<summary>Answer</summary>

```
18446744073709551615 number of grains
```

</details>

In [141]:
grains = 1 
#tot = 0

for i in range(1, 65):
    grains *= 2
    print(f"square {i} = {grains}")

square 1 = 2
square 2 = 4
square 3 = 8
square 4 = 16
square 5 = 32
square 6 = 64
square 7 = 128
square 8 = 256
square 9 = 512
square 10 = 1024
square 11 = 2048
square 12 = 4096
square 13 = 8192
square 14 = 16384
square 15 = 32768
square 16 = 65536
square 17 = 131072
square 18 = 262144
square 19 = 524288
square 20 = 1048576
square 21 = 2097152
square 22 = 4194304
square 23 = 8388608
square 24 = 16777216
square 25 = 33554432
square 26 = 67108864
square 27 = 134217728
square 28 = 268435456
square 29 = 536870912
square 30 = 1073741824
square 31 = 2147483648
square 32 = 4294967296
square 33 = 8589934592
square 34 = 17179869184
square 35 = 34359738368
square 36 = 68719476736
square 37 = 137438953472
square 38 = 274877906944
square 39 = 549755813888
square 40 = 1099511627776
square 41 = 2199023255552
square 42 = 4398046511104
square 43 = 8796093022208
square 44 = 17592186044416
square 45 = 35184372088832
square 46 = 70368744177664
square 47 = 140737488355328
square 48 = 281474976710656
square 49 = 562949953421312
square 50 = 1125899906842624
square 51 = 2251799813685248
square 52 = 4503599627370496
square 53 = 9007199254740992
square 54 = 18014398509481984
square 55 = 36028797018963968
square 56 = 72057594037927936
square 57 = 144115188075855872
square 58 = 288230376151711744
square 59 = 576460752303423488
square 60 = 1152921504606846976
square 61 = 2305843009213693952
square 62 = 4611686018427387904
square 63 = 9223372036854775808
square 64 = 18446744073709551616

---

pr0fez Giang

[LinkedIn][linkedIn_pr0fez]

[GitHub portfolio][github_portfolio]

[linkedIn_pr0fez]: https://www.linkedin.com/in/pr0fezgiang/
[github_portfolio]: https://github.com/pr0fez/Portfolio-pr0fez-Giang

---