
<a href="https://colab.research.google.com/github/kokchun/Databehandling-AI22/blob/main/Exercises/E00_pandas_basic_syntax.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

# pandas fundamentals exercises

---
These are introductory exercises in Pandas with focus in **syntax, DataFrame, indexing, data selection** and **data cleaning**.

<p class = "alert alert-info" role="alert"><b>Note</b> that there are usually many ways to achieve same results using operations in pandas. Feel free to investigate several ways. </p>

<p class = "alert alert-info" role="alert"><b>Note</b> that in cases when you start to repeat code, try not to. Create functions to reuse code instead. </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable, function, index </b> and <b> column names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Cities in Sweden - create dataset (*)

Create this DataFrame from scratch: 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Malmö     |       347949 |
|  1 | Stockholm |       975551 |
|  2 | Uppsala   |       233839 |
|  3 | Göteborg  |       583056 |

&nbsp; a) Use your DataFrame to print out all the cities. (*)

&nbsp; b) Select only the row which contains Göteborg. Do this by using the name Göteborg. (*)

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the three largest cities. (*)

&nbsp; e) The whole population in Sweden 2020 is 10379295. Use this number to create a new column in your sorted DataFrame named: Population (%). This column should be filled with percentage of the Swedish population for each city. 


<details>

<summary>Answer</summary>

a) 

```
0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
```

b)

|    | Kommun   |   Population |
|---:|:---------|-------------:|
|  3 | Göteborg |       583056 |

c) 

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Stockholm |       975551 |
|  1 | Göteborg  |       583056 |
|  2 | Malmö     |       347949 |
|  3 | Uppsala   |       233839 |


d)

|    | Kommun    |   Population |
|---:|:----------|-------------:|
|  0 | Stockholm |       975551 |
|  1 | Göteborg  |       583056 |
|  2 | Malmö     |       347949 |

e)

|    | Kommun    |   Population |   Population (%) |
|---:|:----------|-------------:|-----------------:|
|  0 | Stockholm |       975551 |              9.4 |
|  1 | Göteborg  |       583056 |              5.6 |
|  2 | Malmö     |       347949 |              3.4 |
|  3 | Uppsala   |       233839 |              2.3 |

</details>

In [2]:
# A
import numpy as np, pandas as pd

df_programs = pd.DataFrame({
    "Kommun": np.array(("Malmö", "Stockholm","Uppsala", "Göteborg")),
    "Population": np.array((347949, 975551, 233839, 583056)),
})  

df_programs["Kommun"]

0        Malmö
1    Stockholm
2      Uppsala
3     Göteborg
Name: Kommun, dtype: object

In [3]:
# B
df_programs.loc[df_programs["Kommun"] == "Göteborg"]

# df_programs.loc[3:3]

     Kommun  Population
3  Göteborg      583056

In [4]:
# C

f=df_programs.sort_values("Population", ascending=False)
f.reset_index(drop=True)

      Kommun  Population
0  Stockholm      975551
1   Göteborg      583056
2      Malmö      347949
3    Uppsala      233839

In [5]:
# D
f[:3]

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

In [6]:
# 10379295 E 
df_programs["Precentage (%)"] = (df_programs["Population"]/10379295)*100
df_programs

      Kommun  Population  Precentage (%)
0      Malmö      347949        3.352338
1  Stockholm      975551        9.399010
2    Uppsala      233839        2.252937
3   Göteborg      583056        5.617491

---

## 2. Cities in Sweden - real dataset (*)

Download the file komtopp50_2020.xlsx from the course github repo. The data is taken from SCB. 

&nbsp; a) Read in the tab "Totalt" into a DataFrame and start exploring the data with some simple explorations such as

```python
df.head()
df.info()
df.describe()
```

Feel free to do more explorations. (*)

&nbsp; b) Clean your data so that the head looks like this: (*)


|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
|  0 |          83 |          84 | Ale      |            31868 |            31402 |     1.48398  |
|  1 |          64 |          64 | Alingsås |            41602 |            41420 |     0.439401 |
|  2 |         123 |         123 | Alvesta  |            20224 |            20134 |     0.447005 |
|  3 |         255 |         255 | Aneby    |             6821 |             6848 |    -0.394276 |
|  4 |         169 |         167 | Arboga   |            14039 |            14087 |    -0.34074  |

&nbsp; c) Sort the cities by population from largest to smallest. (*)

&nbsp; d) Filter out the five smallest cities. (*)

&nbsp; e) Use the DataFrame to calculate Sweden's population in 2019 and 2020. (*)

&nbsp; f) Plot a bar chart for the five largest cities and the five smallest cities. (*) 

<details>

<summary>Hint</summary>

a) Use
```python
pd.read_excel(path, header = ..., usecols="Letter1:LetterN", sheet_name="...")
```

</details>

<details>

<summary>Answer</summary>

b)

|    | Kommun   |   Population |
|---:|:---------|-------------:|
|  3 | Göteborg |       583056 |

c) 


|    |   Rang 2020 |   Rang 2019 | Kommun    |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|---:|------------:|------------:|:----------|-----------------:|-----------------:|-------------:|
|  0 |           1 |           1 | Stockholm |           975551 |           974073 |     0.151734 |
|  1 |           2 |           2 | Göteborg  |           583056 |           579281 |     0.65167  |
|  2 |           3 |           3 | Malmö     |           347949 |           344166 |     1.09918  |
|  3 |           4 |           4 | Uppsala   |           233839 |           230767 |     1.33121  |
|  4 |           5 |           5 | Linköping |           164616 |           163051 |     0.959822 |


d)

|     |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring |
|----:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|
| 289 |         290 |         290 | Bjurholm |             2387 |             2408 |    -0.872093 |
| 288 |         289 |         289 | Sorsele  |             2442 |             2489 |    -1.88831  |
| 287 |         288 |         288 | Dorotea  |             2498 |             2551 |    -2.07762  |
| 286 |         287 |         287 | Arjeplog |             2718 |             2785 |    -2.40575  |
| 285 |         286 |         286 | Åsele    |             2805 |             2794 |     0.393701 |

e)

```
Populationen i Sverige 2020: 10379295
Populationen i Sverige 2019: 10327589
```

f)

<img align="left" src="../assets/city_sizes.png" height="200"/>

</details>

In [59]:
# A Read "Total" tab and explore.

df = pd.read_excel("../../Data/komtopp50_2020.xlsx", header=[6], sheet_name="Totalt")
# pd.read_excel(path, header = ..., usecols="Letter1:LetterN", sheet_name="...")

df.head()

   2020  2019 Unnamed: 2  2020.1  2019.1         %
0    83    84        Ale   31868   31402  1.483982
1    64    64   Alingsås   41602   41420  0.439401
2   123   123    Alvesta   20224   20134  0.447005
3   255   255      Aneby    6821    6848 -0.394276
4   169   167     Arboga   14039   14087 -0.340740

In [78]:
# B Clean the data.

df=df.rename(columns={2020: 'Rang 2020', 2019: "Rang 2019", "Unnamed: 2": "Kommun",
                       "2020.1": "Folkmängd 2020", "2019.1": "Folkmängd 2019", "%": "Förändring"})
df.head()

   Rang 2020  Rang 2019    Kommun  Folkmängd 2020  Folkmängd 2019  Förändring
0         83         84       Ale           31868           31402    1.483982
1         64         64  Alingsås           41602           41420    0.439401
2        123        123   Alvesta           20224           20134    0.447005
3        255        255     Aneby            6821            6848   -0.394276
4        169        167    Arboga           14039           14087   -0.340740

In [111]:
# C Sort the citys L -> S

df=df.sort_values(["Folkmängd 2020"], ascending=False).reset_index(drop=True)
print(df.to_string())

     Rang 2020  Rang 2019           Kommun  Folkmängd 2020  Folkmängd 2019  Förändring
0            1          1        Stockholm          975551          974073    0.151734
1            2          2         Göteborg          583056          579281    0.651670
2            3          3            Malmö          347949          344166    1.099179
3            4          4          Uppsala          233839          230767    1.331213
4            5          5        Linköping          164616          163051    0.959822
5            6          6           Örebro          156381          155696    0.439960
6            7          7         Västerås          155551          154049    0.975014
7            8          8      Helsingborg          149280          147734    1.046475
8            9          9       Norrköping          143478          143171    0.214429
9           10         10        Jönköping          142427          141081    0.954062
10          11         11             Umeå          130224          128901    1.026369
11          12         12             Lund          125941          124935    0.805219
12          13         13            Borås          113714          113179    0.472703
13          14         14         Huddinge          113234          112848    0.342053
14          15         15       Eskilstuna          106975          106859    0.108554
15          16         16            Nacka          106505          105189    1.251081
16          17         17         Halmstad          103754          102767    0.960425
17          18         18            Gävle          102904          102418    0.474526
18          19         20       Södertälje          100111           98979    1.143677
19          20         19        Sundsvall           99439           99449   -0.010055
20          21         22            Växjö           94859           94129    0.775531
21          22         21         Botkyrka           94847           94606    0.254741
22          23         23         Karlstad           94828           93898    0.990436
23          24         24          Haninge           93690           92095    1.731907
24          25         25     Kristianstad           86217           85747    0.548124
25          26         26       Kungsbacka           84930           84395    0.633924
26          27         27            Solna           83162           82429    0.889250
27          28         28         Järfälla           81274           79990    1.605201
28          29         29            Luleå           78549           78105    0.568466
29          30         30       Sollentuna           73990           73857    0.180078
30          31         31       Skellefteå           72840           72589    0.345782
31          32         32             Täby           72755           71874    1.225756
32          33         33           Kalmar           70329           69467    1.240877
33          34         34          Mölndal           69901           69364    0.774177
34          35         35       Karlskrona           66515           66622   -0.160608
35          36         36          Varberg           65397           64601    1.232179
36          37         37        Östersund           63985           63779    0.322990
37          38         38        Norrtälje           63673           62622    1.678324
38          39         39          Gotland           60124           59686    0.733840
39          40         40            Falun           59528           59406    0.205366
40          41         41      Trollhättan           59249           59058    0.323411
41          42         43         Nyköping           57071           56591    0.848191
42          43         44           Skövde           56791           56366    0.754001
43          44         42        Uddevalla           56787           56703    0.148140
44          45         45     Örnsköldsvik           55807           55998   -0.341084
45          46         47       Sundbyberg           52801           52414    0.738352
46          47         46         Borlänge           52394           52590   -0.372694
47          48         48       Hässleholm           52010           52145   -0.258893
48          49         49          Sigtuna           49537           48964    1.170248
49          50         50           Tyresö           48678           48333    0.713798
50          51         51          Lidingö           48005           48123   -0.245205
51          52         52   Upplands Väsby           47184           46786    0.850682
52          53         53          Kungälv           47050           46336    1.540919
53          54         55        Österåker           46644           45574    2.347830
54          55         54       Landskrona           46305           46090    0.466479
55          56         58         Enköping           46240           45287    2.104357
56          57         57       Falkenberg           46051           45367    1.507704
57          58         56       Trelleborg           45877           45440    0.961708
58          59         59           Värmdö           45566           45000    1.257778
59          60         60           Motala           43640           43673   -0.075562
60          61         61            Lerum           43020           42568    1.061830
61          62         62        Ängelholm           42910           42476    1.021753
62          63         63            Piteå           42226           42281   -0.130082
63          64         64         Alingsås           41602           41420    0.439401
64          65         65        Lidköping           40328           40089    0.596174
65          66         66       Vänersborg           39624           39591    0.083352
66          67         67         Partille           39512           39289    0.567589
67          68         68        Sandviken           39290           39234    0.142733
68          69         69          Härryda           38246           37977    0.708323
69          70         70       Hudiksvall           37531           37607   -0.202090
70          71         73        Strängnäs           37290           36544    2.041375
71          72         72         Vellinge           36915           36628    0.783554
72          73         71        Västervik           36655           36679   -0.065433
73          74         75             Mark           34896           34754    0.408586
74          75         74      Katrineholm           34765           34755    0.028773
75          76         76          Värnamo           34530           34560   -0.086806
76          77         78            Eslöv           34123           33793    0.976534
77          78         77       Vallentuna           34119           34090    0.085069
78          79         79        Falköping           33238           33246   -0.024063
79          80         80         Danderyd           32712           32857   -0.441306
80          81         81        Karlshamn           32402           32473   -0.218643
81          82         82         Kävlinge           32020           31705    0.993534
82          83         84              Ale           31868           31402    1.483982
83          84         83           Nässjö           31563           31538    0.079269
84          85         85            Ystad           30970           30541    1.404669
85          86         86        Karlskoga           30263           30381   -0.388401
86          87         89     Upplands-Bro           30195           29346    2.893069
87          88         87         Gislaved           29635           29963   -1.094683
88          89         88          Ronneby           29372           29633   -0.880775
89          90         90            Ekerö           28879           28690    0.658766
90          91         91        Nynäshamn           28811           28575    0.825897
91          92         92          Ljungby           28401           28521   -0.420743
92          93         93            Boden           28060           28080   -0.071225
93          94         94           Mjölby           27960           27758    0.727718
94          95         95         Vetlanda           27502           27466    0.131071
95          96         97          Höganäs           27168           26942    0.838839
96          97         96       Oskarshamn           27147           27102    0.166039
97          98        100      Stenungsund           27044           26777    0.997124
98          99         99          Bollnäs           26809           26888   -0.293811
99         100         98          Ludvika           26604           26898   -1.093018
100        101        101           Köping           26085           26214   -0.492103
101        102        103           Laholm           25967           25903    0.247076
102        103        102           Arvika           25932           26045   -0.433864
103        104        105     Staffanstorp           25883           25396    1.917625
104        105        104        Söderhamn           25492           25643   -0.588855
105        106        106        Härnösand           25114           25183   -0.273994
106        107        107            Lomma           24876           24834    0.169123
107        108        108       Ulricehamn           24704           24668    0.145938
108        109        109        Mariestad           24513           24537   -0.097811
109        110        110     Kristinehamn           24190           24255   -0.267986
110        111        111       Lindesberg           23658           23588    0.296761
111        112        112           Avesta           23067           23178   -0.478902
112        113        113             Sala           22867           22894   -0.117935
113        114        116          Svedala           22665           22229    1.961402
114        115        114           Kiruna           22664           22867   -0.887742
115        116        115        Östhammar           22251           22250    0.004494
116        117        117             Håbo           22019           21934    0.387526
117        118        119            Kumla           21862           21738    0.570430
118        119        118         Finspång           21765           21912   -0.670865
119        120        120            Tierp           21327           21136    0.903671
120        121        121             Mora           20492           20470    0.107474
121        122        122            Nybro           20273           20318   -0.221478
122        123        123          Alvesta           20224           20134    0.447005
123        124        124            Sjöbo           19412           19226    0.967440
124        125        127           Burlöv           19312           19112    1.046463
125        126        125       Simrishamn           19227           19174    0.276416
126        127        131          Knivsta           19106           18835    1.438811
127        128        128           Tranås           18903           19003   -0.526233
128        129        126        Sollefteå           18872           19140   -1.400209
129        130        129          Ljusdal           18867           18949   -0.432741
130        131        130            Skara           18695           18837   -0.753836
131        132        132         Kramfors           18133           18282   -0.815009
132        133        133            Timrå           17963           17979   -0.088993
133        134        136          Älmhult           17884           17651    1.320039
134        135        135            Eksjö           17788           17753    0.197150
135        136        134          Klippan           17738           17756   -0.101374
136        137        137        Gällivare           17462           17529   -0.382224
137        138        138       Sölvesborg           17456           17452    0.022920
138        139        139            Salem           16959           16750    1.247761
139        140        140             Höör           16830           16713    0.700054
140        141        142          Hammarö           16668           16568    0.603573
141        142        141             Flen           16431           16585   -0.928550
142        143        143    Hallstahammar           16400           16346    0.330356
143        144        145            Tjörn           16147           16016    0.817932
144        145        144             Vara           16096           16024    0.449326
145        146        146           Åstorp           16063           15940    0.771644
146        147        148           Skurup           16042           15889    0.962930
147        148        147        Hallsberg           15990           15932    0.364047
148        149        149            Kalix           15812           15886   -0.465819
149        150        150          Leksand           15801           15807   -0.037958
150        151        151             Bjuv           15697           15715   -0.114540
151        152        152         Vimmerby           15672           15647    0.159775
152        153        153            Hörby           15653           15631    0.140746
153        154        156       Mörbylånga           15487           15249    1.560758
154        155        154         Hedemora           15462           15491   -0.187205
155        156        155           Säffle           15420           15455   -0.226464
156        157        158           Båstad           15413           15128    1.883924
157        158        157            Orust           15315           15218    0.637403
158        159        160           Krokom           15054           14966    0.587999
159        160        159     Östra Göinge           15017           15007    0.066636
160        161        161      Söderköping           14616           14626   -0.068371
161        162        163         Vaggeryd           14532           14275    1.800350
162        163        162          Lysekil           14366           14555   -1.298523
163        164        169            Trosa           14309           13747    4.088165
164        165        166       Lilla Edet           14282           14109    1.226168
165        166        164           Svalöv           14276           14268    0.056070
166        167        165        Hultsfred           14107           14224   -0.822553
167        168        168             Heby           14101           14047    0.384424
168        169        167           Arboga           14039           14087   -0.340740
169        170        170        Tomelilla           13663           13617    0.337813
170        171        174            Sunne           13335           13306    0.217947
171        172        172        Olofström           13311           13426   -0.856547
172        173        173         Fagersta           13267           13391   -0.925995
173        174        171        Mönsterås           13264           13430   -1.236039
174        175        175        Strömstad           13244           13218    0.196701
175        176        176             Osby           13198           13208   -0.075712
176        177        177           Götene           13194           13207   -0.098433
177        178        178           Öckerö           12934           12916    0.139362
178        179        181            Tanum           12912           12841    0.552916
179        180        180         Tidaholm           12790           12846   -0.435933
180        181        179         Bromölla           12759           12870   -0.862471
181        182        183             Habo           12589           12433    1.254725
182        183        182             Åmål           12441           12610   -1.340206
183        184        184         Tingsryd           12369           12393   -0.193658
184        185        185         Lycksele           12324           12245    0.645161
185        186        186              Kil           12115           12087    0.231654
186        187        191              Åre           12049           11727    2.745800
187        188        188        Oxelösund           11995           11983    0.100142
188        189        190         Vårgårda           11946           11810    1.151566
189        190        187          Vaxholm           11886           12003   -0.974756
190        191        189          Tranemo           11885           11936   -0.427279
191        192        192           Sävsjö           11721           11677    0.376809
192        193        193         Ovanåker           11672           11670    0.017138
193        194        194           Torsby           11549           11616   -0.576791
194        195        198         Forshaga           11524           11499    0.217410
195        196        195          Hagfors           11517           11606   -0.766845
196        197        196        Strömsund           11488           11605   -1.008186
197        198        199        Askersund           11471           11377    0.826228
198        199        197       Åtvidaberg           11427           11503   -0.660697
199        200        200           Gnesta           11421           11365    0.492741
200        201        201            Tibro           11297           11240    0.507117
201        202        203          Nykvarn           11222           11014    1.888506
202        203        202            Säter           11161           11093    0.612999
203        204        204          Rättvik           11047           10950    0.885845
204        205        205     Smedjebacken           10854           10894   -0.367175
205        206        206         Borgholm           10836           10839   -0.027678
206        207        208       Svenljunga           10751           10780   -0.269017
207        208        209             Nora           10686           10726   -0.372926
208        209        207            Hylte           10649           10815   -1.534905
209        210        211         Munkedal           10582           10513    0.656330
210        211        210        Filipstad           10503           10644   -1.324690
211        212        214      Örkelljunga           10451           10280    1.663424
212        213        213           Gagnef           10378           10304    0.718168
213        214        212         Markaryd           10373           10320    0.513566
214        215        215     Malung-Sälen           10177           10138    0.384691
215        216        216       Surahammar           10092           10106   -0.138532
216        217        217       Härjedalen           10070           10090   -0.198216
217        218        218           Årjäng            9996           10070   -0.734856
218        219        219            Kinda            9991            9940    0.513078
219        220        223        Degerfors            9631            9666   -0.362094
220        221        221           Gnosjö            9614            9712   -1.009061
221        222        222        Haparanda            9601            9685   -0.867321
222        223        220       Bengtsfors            9591            9750   -1.630769
223        224        224           Hofors            9570            9588   -0.187735
224        225        226        Bollebygd            9544            9495    0.516061
225        226        229       Älvkarleby            9511            9457    0.571006
226        227        224       Uppvidinge            9498            9588   -0.938673
227        228        227       Nordanstig            9483            9477    0.063311

In [86]:
# D Filter out the the five smallest citys

df.tail()

,Rang 2020,Rang 2019,Kommun,Folkmängd 2020,Folkmängd 2019,Förändring
285,286,286,Åsele,2805,2794,0.393701
286,287,287,Arjeplog,2718,2785,-2.405745
287,288,288,Dorotea,2498,2551,-2.077617
288,289,289,Sorsele,2442,2489,-1.888309
289,290,290,Bjurholm,2387,2408,-0.872093

In [114]:
# E Calculate Swedens population 2019, 2020

pop2019 = df["Folkmängd 2019"].sum()
pop2020 = df["Folkmängd 2020"].sum()
print(f"Folkmängden i Sverige 2019: {pop2019}")
print(f"Folkmängden i Sverige 2020: {pop2020}")

Folkmängden i Sverige 2019: 10327589
Folkmängden i Sverige 2020: 10379295

In [121]:
# F Plot barchart of 5 L and 5 S

import matplotlib.pyplot as plt
import seaborn as sns

# top5 = df.nlargest(n=5, columns=["Kommun", "Folkmängd 2020"])
df.plot(x="Kommun", y="Folkmängd 2020", data=df.nlargest(5, "Folkmängd 2020"))

TypeError: plot() got multiple values for argument 'data'

---

## 3. Cities in Sweden - gender (*)

We continue with the same Excel-file as in task 2, but now you should also read in the sheets "Kvinnor" and "Män" into two additional DataFrames. In this task, many operations are similar to all three datasets, try creating custom made functions to reuse as much code as possible.

&nbsp; a) Clean your data so that the head looks like this: (*)

Male: 

|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön   |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|:------|
|  0 |          81 |          83 | Ale      |            16256 |            16054 |     1.25825  | Man   |
|  1 |          64 |          64 | Alingsås |            20702 |            20646 |     0.271239 | Man   |
|  2 |         122 |         123 | Alvesta  |            10367 |            10339 |     0.270819 | Man   |
|  3 |         255 |         255 | Aneby    |             3503 |             3498 |     0.142939 | Man   |
|  4 |         169 |         168 | Arboga   |             7094 |             7114 |    -0.281136 | Man   |

Female: 

|    |   Rang 2020 |   Rang 2019 | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön    |
|---:|------------:|------------:|:---------|-----------------:|-----------------:|-------------:|:-------|
|  0 |          84 |          85 | Ale      |            15612 |            15348 |     1.72009  | Kvinna |
|  1 |          64 |          64 | Alingsås |            20900 |            20774 |     0.606527 | Kvinna |
|  2 |         123 |         123 | Alvesta  |             9857 |             9795 |     0.632976 | Kvinna |
|  3 |         255 |         255 | Aneby    |             3318 |             3350 |    -0.955224 | Kvinna |
|  4 |         165 |         164 | Arboga   |             6945 |             6973 |    -0.401549 | Kvinna |


&nbsp; b) Merge the male and female DataFrames vertically and set index to "Kommun". Note that there now should be 580 rows now.  (*)

|    | Kommun   |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön   |
|---:|:---------|-----------------:|-----------------:|-------------:|:------|
|  0 | Ale      |            16256 |            16054 |     1.25825  | Man   |
|  1 | Alingsås |            20702 |            20646 |     0.271239 | Man   |
|   ...  | ...       | ...  | ...   | ...  | ...    |
| 288 | Överkalix    |             1559 |             1578 |    -1.20406  | Kvinna |
| 289 | Övertorneå   |             2027 |             2065 |    -1.84019  | Kvinna |

&nbsp; c) Extract and change column name from the total DataFrame so that the head look like this: (*) 

|    | Kommun   |   Total Pop 2020 |   Total Pop 2019 |   Total förändring |
|---:|:---------|-----------------:|-----------------:|-------------------:|
|  0 | Ale      |            31868 |            31402 |           1.48398  |
|  1 | Alingsås |            41602 |            41420 |           0.439401 |
|  2 | Alvesta  |            20224 |            20134 |           0.447005 |
|  3 | Aneby    |             6821 |             6848 |          -0.394276 |
|  4 | Arboga   |            14039 |            14087 |          -0.34074  |

&nbsp; d) Merge this data with the data in b) so that the head look like this: (*)

| Kommun    |   Folkmängd 2020 |   Folkmängd 2019 |   Förändring | Kön    |   Total Pop 2020 |   Total Pop 2019 |   Total förändring |
|:----------|-----------------:|-----------------:|-------------:|:-------|-----------------:|-----------------:|-------------------:|
| Stockholm |           482982 |           482220 |     0.158019 | Man    |           975551 |           974073 |           0.151734 |
| Stockholm |           492569 |           491853 |     0.145572 | Kvinna |           975551 |           974073 |           0.151734 |
| Göteborg  |           292505 |           290308 |     0.756782 | Man    |           583056 |           579281 |           0.65167  |
| Göteborg  |           290551 |           288973 |     0.546072 | Kvinna |           583056 |           579281 |           0.65167  |
| Malmö     |           175411 |           173543 |     1.07639  | Kvinna |           347949 |           344166 |           1.09918  |

&nbsp; e) Create barplots showing the gender populations of Swedens 10 largest and 10 smallest cities. (*) 
 
&nbsp; f) Create a pie chart showing the total male and female population in Sweden 2020. (*)

&nbsp; g) Create a barplot showing the cities with the five largest percentual gender difference in 2020. (**)

&nbsp; h) Create a barplot showing the top 5 cities with largest populational growth from 2019 to 2020 (**)

&nbsp; i) Feel free to investigate other questions you are interested in using these datasets. (*), (**)

<br/>

<details>

<summary>Hint</summary>

f) You need to process the data first. For example

- compute difference between males and females in 2020
- use this difference to compute the differences in percentage
- sort the values by this percentage difference
- use seaborn barplot to plot, with the gender as hue

</details>

<br/>

<details>

<summary>Answer</summary>

e)

<img src="../assets/population_gender.png" height="200"/>

f)

<img src="../assets/population_genders_pie.png" height="200"/>

g)

<img src="../assets/cities_largest_gender_diff.png" height="200"/>

h)

<img src="../assets/pop_change.png" height="200"/>

</details>

---

Kokchun Giang

[LinkedIn][linkedIn_kokchun]

[GitHub portfolio][github_portfolio]

[linkedIn_kokchun]: https://www.linkedin.com/in/kokchungiang/
[github_portfolio]: https://github.com/kokchun/Portfolio-Kokchun-Giang

---