# Pandas
Läs in en fil

In [1]:
import pandas as pd

""" Om man vill göra en egen data frame """
df = pd.DataFrame({
    'A': [None, 1, 2, 3, 4],
    'B': [5, 6, None, 8, 9],
    'C': [10, 11, 12, 13, 14]
})

df

     A    B   C
0  NaN  5.0  10
1  1.0  6.0  11
2  2.0  NaN  12
3  3.0  8.0  13
4  4.0  9.0  14

In [2]:
"""OM man vill ladda en extern fil """

df = pd.read_csv("../Data/student-mat-missing-data.csv") # Man kan ställa in set_index i den extern filen
df

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,...,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,...,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,...,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,...,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,...,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,MS,M,20.0,U,LE3,A,2,2,services,...,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,MS,M,17.0,U,LE3,T,3,1,services,...,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,MS,M,21.0,R,GT3,T,1,1,other,...,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,MS,M,18.0,R,LE3,T,3,2,services,...,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,MS,M,19.0,U,LE3,T,1,1,other,...,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

## Atributer och metoder

In [3]:
df.shape # Enbart antal rader och kolumner

(395, 34)

In [4]:
df.columns # Namn på alla kolumner

Index(['Unnamed: 0', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [5]:
df.info() # info och lista av klumner, datatyper

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  395 non-null    int64
 1   school      395 non-null    object
 2   sex         395 non-null    object
 3   age         381 non-null    float64
 4   address     390 non-null    object
 5   famsize     395 non-null    object
 6   Pstatus     395 non-null    object
 7   Medu        395 non-null    int64
 8   Fedu        395 non-null    int64
 9   Mjob        395 non-null    object
 10  Fjob        395 non-null    object
 11  reason      395 non-null    object
 12  guardian    395 non-null    object
 13  traveltime  395 non-null    int64
 14  studytime   395 non-null    int64
 15  failures    395 non-null    int64
 16  schoolsup   395 non-null    object
 17  famsup      395 non-null    object
 18  paid        395 non-null    object
 19  activities  395 non-null    object
 20  nursery     395 non-null    object
 21  higher      395 non-null    object
 22  internet    395 non-null    object
 23  romantic    395 non-null    object
 24  famrel      390 non-null    float64
 25  freetime    379 non-null    float64
 26  goout       390 non-null    float64
 27  Dalc        395 non-null    int64
 28  Walc        395 non-null    int64
 29  health      390 non-null    float64
 30  absences    390 non-null    float64
 31  G1          395 non-null    int64
 32  G2          395 non-null    int64
 33  G3          395 non-null    int64
dtypes: float64(6), int64(11), object(17)
memory usage: 105.1+ KB

In [6]:
""" Generell beskrivning av statistiken """

df.describe()

,Unnamed: 0,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,381.000000,395.000000,395.000000,395.000000,395.000000,395.000000,390.000000,379.000000,390.000000,395.000000,395.000000,390.000000,390.000000,395.000000,395.000000,395.000000
mean,197.000000,16.700787,2.749367,2.521519,1.448101,2.035443,0.334177,3.943590,3.237467,3.120513,1.481013,2.291139,3.548718,5.569231,10.908861,10.713924,10.415190
std,114.170924,1.275157,1.094735,1.088201,0.697505,0.839240,0.743651,0.896665,0.990201,1.112370,0.890741,1.287897,1.394604,7.232395,3.319195,3.761505,4.581443
min,0.000000,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,98.500000,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,197.000000,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,295.500000,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,394.000000,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,56.000000,19.000000,19.000000,20.000000

In [7]:
df.head() # Första 5 rader
df.head(10) # Första 10 rader

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,...,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,...,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,...,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,...,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,...,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
5,5,GP,M,16.0,U,LE3,T,4,3,services,...,5.0,4.0,2.0,1,2,5.0,10.0,15,15,15
6,6,GP,M,16.0,U,LE3,T,2,2,other,...,4.0,4.0,4.0,1,1,3.0,0.0,12,12,11
7,7,GP,F,17.0,U,GT3,A,4,4,other,...,4.0,1.0,4.0,1,1,1.0,6.0,6,5,6
8,8,GP,M,15.0,U,LE3,A,3,2,services,...,4.0,2.0,2.0,1,1,1.0,0.0,16,18,19
9,9,GP,M,15.0,U,GT3,T,3,4,other,...,5.0,5.0,1.0,1,1,5.0,0.0,14,15,15

In [8]:
df.tail() # lästasta 5 rader

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,390,MS,M,20.0,U,LE3,A,2,2,services,...,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,MS,M,17.0,U,LE3,T,3,1,services,...,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,MS,M,21.0,R,GT3,T,1,1,other,...,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,MS,M,18.0,R,LE3,T,3,2,services,...,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,MS,M,19.0,U,LE3,T,1,1,other,...,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

## Inställningar

In [9]:
""" Ställ in hur många rader och kolumner manuellt som man vill se """

pd.set_option('display.max_rows', 39)
pd.set_option("display.max_columns", 34)
df

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,MS,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,MS,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,MS,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

## Välja rader och kolumner

In [10]:
df.age.head()

0    18.0
1    17.0
2    15.0
3    15.0
4    16.0
Name: age, dtype: float64

In [11]:
""" Samma som ovan """

df["age"].head() # Välj en kolumn

0    18.0
1    17.0
2    15.0
3    15.0
4    16.0
Name: age, dtype: float64

In [12]:
""" Välja fler än en column """

df[["age", "freetime"]].head() # Man skriver alla kolumner som en lista

    age  freetime
0  18.0       3.0
1  17.0       3.0
2  15.0       3.0
3  15.0       2.0
4  16.0       3.0

# iloc

In [13]:
""" iloc används när man vill ha rader med hjälp av siffror """

df.iloc[[0, 5]] # Välj en eller flera specifika rader med interger

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
5,5,GP,M,16.0,U,LE3,T,4,3,services,other,reputation,mother,1,2,0,no,yes,yes,yes,yes,yes,yes,no,5.0,4.0,2.0,1,2,5.0,10.0,15,15,15

In [14]:
df.iloc[0:5] # Välj en eller flera rader med slice

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10

In [15]:
df.iloc[:, 0:5].head(10) # Välj en eller flera kolumner med slice = Alla rader och bara klumner mellan 0 - 5

   Unnamed: 0 school sex   age address
0           0     GP   F  18.0       U
1           1     GP   F  17.0       U
2           2     GP   F  15.0       U
3           3     GP   F  15.0       U
4           4     GP   F  16.0       U
5           5     GP   M  16.0       U
6           6     GP   M  16.0       U
7           7     GP   F  17.0       U
8           8     GP   M  15.0       U
9           9     GP   M  15.0       U

In [16]:
df.iloc[0:5, 0:5] # slica kolumner och rader

   Unnamed: 0 school sex   age address
0           0     GP   F  18.0       U
1           1     GP   F  17.0       U
2           2     GP   F  15.0       U
3           3     GP   F  15.0       U
4           4     GP   F  16.0       U

In [17]:
df.iloc[[0, 5], 2] # Välj specifika rader och kolumner, går även att slica. = Rad 0 och 5 i kolumn 2

0    F
5    M
Name: sex, dtype: object

# loc

In [18]:
df.loc[0] # Välj en specifik rad

Unnamed: 0          0
school             GP
sex                 F
age              18.0
address             U
famsize           GT3
Pstatus             A
Medu                4
Fedu                4
Mjob          at_home
Fjob          teacher
reason         course
guardian       mother
traveltime          2
studytime           2
failures            0
schoolsup         yes
famsup             no
paid               no
activities         no
nursery           yes
higher            yes
internet           no
romantic           no
famrel            4.0
freetime          3.0
goout             4.0
Dalc                1
Walc                1
health            3.0
absences          6.0
G1                  5
G2                  6
G3                  6
Name: 0, dtype: object

In [19]:
df.loc[[0, 1], "age"] # Visar specifika rader och kolumner

0    18.0
1    17.0
Name: age, dtype: float64

In [20]:
rader_kolumner = df.loc[[0, 1], ["age", "sex"]] # Visar specifika rader och kolumner = Rader i en lista och komlumner i en lista
rader_kolumner

    age sex
0  18.0   F
1  17.0   F

In [21]:
df.loc[0:5, "age":"Fjob"] # Slicar både rader och kolumner. Viktigt att skippa de inre listorna då...

    age address famsize Pstatus  Medu  Fedu      Mjob      Fjob
0  18.0       U     GT3       A     4     4   at_home   teacher
1  17.0       U     GT3       T     1     1   at_home     other
2  15.0       U     LE3       T     1     1   at_home     other
3  15.0       U     GT3       T     4     2    health  services
4  16.0       U     GT3       T     3     3     other     other
5  16.0       U     LE3       T     4     3  services     other

In [22]:
""" Se alla värden i en kolumn """

df["sex"].value_counts()

sex
F    208
M    187
Name: count, dtype: int64

# INDEX

In [23]:
""" Sätter index till en kolumn """

df.set_index("Unnamed: 0").head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10

In [24]:
""" Resettar indexet och returnerar den """

df.reset_index()

,index,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,...,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,...,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,...,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,...,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,...,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,...,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,390,MS,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,...,yes,yes,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,391,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,...,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,392,MS,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,...,no,no,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,393,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,...,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,394,MS,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,...,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

# SORTERA

In [25]:
""" Sortera indexet eller kolumner """

sort = df.sort_index().head() # Sortera indexet

sort1 = df.sort_index(ascending=False).head() # Sorterar bakifrån, skriv inplace=True iparantesen för att ändra i df

sort2 = df.sort_values("age") # Sorterar efter specifik kolumn

# FILTRERA

In [26]:
""" Filtrera efter bokstäver """

filt = (df["school"] == "GP")

df[df["school"] == "GP"] 

df[filt] # Samma som df[df["reason"] == "GP"]

df.loc[filt] # Också samma sak

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,344,GP,F,18.0,U,GT3,T,2,3,at_home,other,course,mother,1,3,0,no,yes,no,no,yes,yes,yes,no,4.0,3.0,3.0,1,2,3.0,4.0,11,10,10
345,345,GP,F,18.0,U,GT3,T,3,2,other,services,other,mother,1,3,0,no,no,no,no,yes,yes,yes,yes,5.0,4.0,3.0,2,3,1.0,7.0,13,13,14
346,346,GP,M,18.0,R,GT3,T,4,3,teacher,services,course,mother,1,3,0,no,no,no,no,yes,yes,yes,yes,5.0,3.0,2.0,1,2,4.0,9.0,16,15,16
347,347,GP,M,18.0,U,GT3,T,4,3,teacher,other,course,mother,1,3,0,no,yes,yes,no,yes,yes,yes,yes,5.0,4.0,5.0,2,3,5.0,0.0,10,10,9
348,348,GP,F,NaN,U,GT3,T,4,3,health,other,reputation,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,4.0,4.0,3.0,1,3,4.0,0.0,13,15,15

In [27]:
""" Filtrera efter värden i flera kolumner """
""" Antingen genom & och, | eller """

filt = (df["school"] == "GP") & (df["sex"] == "F") # Visa rader som innhåller värden som måste finns i båda kolumnerna 
filt = (df["school"] == "GP") | (df["sex"] == "F") # Visa rader som innhåller värden som finns i en kolumn eller en annan  
filt

0       True
1       True
2       True
3       True
4       True
       ...
390    False
391    False
392    False
393    False
394    False
Length: 395, dtype: bool

In [28]:
""" Filtrera efter värden i en kolumn """

filt = (df["school"] == "GP")
df.loc[~filt, "school"] # Visa alla rader som inte har värdet i en kolumn

df.loc[~filt] # Visar alla rader och kolumner som inte innehåller "GP"

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
349,349,MS,M,18.0,R,GT3,T,3,2,other,other,course,mother,2,1,1,no,yes,no,no,no,yes,yes,no,2.0,5.0,5.0,5,5,5.0,10.0,11,13,13
350,350,MS,M,19.0,R,GT3,T,1,1,other,services,home,other,3,2,3,no,no,no,no,yes,yes,yes,no,5.0,4.0,4.0,3,3,2.0,8.0,8,7,8
351,351,MS,M,17.0,U,GT3,T,3,3,health,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,yes,no,4.0,5.0,4.0,2,3,3.0,2.0,13,13,13
352,352,MS,M,18.0,U,LE3,T,1,3,at_home,services,course,mother,1,1,1,no,no,no,no,yes,no,yes,yes,4.0,3.0,3.0,2,3,3.0,7.0,8,7,8
353,353,MS,M,19.0,R,GT3,T,1,1,other,other,home,other,3,1,1,no,yes,no,no,yes,yes,yes,no,4.0,4.0,4.0,3,3,5.0,4.0,8,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,MS,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,MS,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,MS,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

In [29]:
""" Filtrera över eller under en integer """

high_age = (df["age"] > 18)

df[high_age] # Visar alla kolumner som har "age" ålder över 18
df.loc[high_age] # Samma syntax som ovan

df.loc[high_age, ["sex", "Mjob", "age"]] # Söker alla rader i specifika kolumner som är över 18 år


""" """
mjob = ["health", "at_home"]
filt = df["Mjob"].isin(mjob)

df.loc[filt, "Mjob"] # Filtrerar också specifika värden i specifika rader eller kolumner


""" """
filt1 = df["Mjob"].str.contains("at", na=False) # Söker efter en del av en sträng i en specifik kolumn och struntar om det finns några NaN värden. 
filt1 # Visar rader som boolean
df.loc[filt1] # Visar rader med sökt str och alla dess kolumner
df.loc[filt1, "Mjob"] # Söker efter del av str i Mjob kolumnen
df.loc[filt1, "Fjob"] # Söker efter del av sträng i Mjob kolumnen men visar värderna från samma rad i Fjob kolumnen. Mycket användbart
df.loc[filt1]

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
39,39,GP,F,15.0,R,GT3,T,2,2,at_home,other,reputation,mother,1,1,0,yes,yes,yes,yes,yes,yes,no,no,4.0,3.0,1.0,1,1,2.0,8.0,14,13,13
79,79,GP,F,16.0,U,GT3,T,3,4,at_home,other,course,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,2.0,4.0,3.0,1,2,3.0,12.0,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,365,MS,M,18.0,R,GT3,T,1,3,at_home,other,course,mother,2,2,0,no,yes,yes,no,yes,yes,no,no,3.0,3.0,4.0,2,4,3.0,4.0,10,10,10
368,368,MS,F,18.0,U,GT3,T,2,3,at_home,services,course,father,2,1,0,no,yes,yes,no,yes,yes,yes,yes,5.0,2.0,3.0,1,2,4.0,0.0,11,10,10
371,371,MS,M,18.0,R,LE3,T,1,2,at_home,services,other,father,3,1,0,no,yes,yes,yes,yes,no,yes,yes,4.0,3.0,3.0,2,3,3.0,3.0,14,12,12
379,379,MS,F,17.0,R,GT3,T,3,1,at_home,other,reputation,mother,1,2,0,no,yes,yes,yes,no,yes,yes,no,4.0,5.0,4.0,2,3,1.0,17.0,10,10,10
385,385,MS,F,NaN,NaN,GT3,T,2,2,at_home,other,other,mother,2,3,0,no,no,yes,no,yes,yes,no,no,NaN,NaN,NaN,1,3,NaN,NaN,10,9,10

# Uppdatera rader och kolumner

In [30]:
""" Ändra versaler, gemener och specifika karaktärer i kolumnnamn """

"""
df.columns= [x.upper() for x in df.columns] # Ändrar kolumnnamn till stora bokstäver
df.columns= df.columns.str.replace("", "_") # Ändrar karaktärer från ett värde till ett annant i kolumn namen. I det här faller mellanslag till underscore
"""
# df.columns= df.columns.str.replace("_", "") # Ändrar karaktärer från ett värde till ett annant i kolumn namen. I det här faller mellanslag till underscore
df.columns= [x.lower() for x in df.columns]
df

,unnamed: 0,school,sex,age,address,famsize,pstatus,medu,fedu,mjob,fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,MS,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,MS,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,MS,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,MS,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,MS,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

In [31]:
""" Ändra namn på column"""

df.rename(columns={"mjob": "Mjob", "fjob": "Fjob"}, inplace=True)
df.head()

,unnamed: 0,school,sex,age,address,famsize,pstatus,medu,fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,0,GP,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,GP,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,GP,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,GP,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,GP,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10

In [32]:
""" Ändra en eller flera datapunkt"""

# df.loc[2] = [2, "Ändrat från GP", "F", 15.0, "U", "GT3", "T", 1, 1, "at_home", "at_home", "reason", "guard"] # Ändrar värdet i en datapunkt, men man behöver skriva alla kolumn namn
# df.loc[2, "school"] == "GÖ"
# df.loc[2, ["school", "adress"]] == ["GT", "O"]

df.loc[2, 'school'] == 'hm'

False

In [33]:
""" Ändra versaler och gemener i en kolumn"""

lower = df["school"].str.lower() # Sparar kolumens gemener i en variabel
lower

df["school"] = df["school"].str.lower() # Ändrar versaler till gemener i en kolumn
df

df["Mjob"].apply(len) # Ger oss hur många karaktärer varje datapunkt innehåller i en kolumn

0      7
1      7
2      7
3      6
4      5
      ..
390    8
391    8
392    5
393    8
394    5
Name: Mjob, Length: 395, dtype: int64

In [34]:
""" Ändra versaler och gemener med funktioner, bara i serier (en kolumn) """
def update_mjob(x):
    return x.upper()

df["Mjob"].apply(update_mjob)

df["Mjob"] = df["Mjob"].apply(update_mjob)
df

,unnamed: 0,school,sex,age,address,famsize,pstatus,medu,fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,0,gp,F,18.0,U,GT3,A,4,4,AT_HOME,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,gp,F,17.0,U,GT3,T,1,1,AT_HOME,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,gp,F,15.0,U,LE3,T,1,1,AT_HOME,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,gp,F,15.0,U,GT3,T,4,2,HEALTH,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,gp,F,16.0,U,GT3,T,3,3,OTHER,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,ms,M,20.0,U,LE3,A,2,2,SERVICES,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,ms,M,17.0,U,LE3,T,3,1,SERVICES,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,ms,M,21.0,R,GT3,T,1,1,OTHER,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,ms,M,18.0,R,LE3,T,3,2,SERVICES,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,ms,M,19.0,U,LE3,T,1,1,OTHER,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

In [35]:
""" Ändra med lambda, bara i serier (en kolumn) """

df["Mjob"] = df["Mjob"].apply(lambda x: x.lower())
df

,unnamed: 0,school,sex,age,address,famsize,pstatus,medu,fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,0,gp,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,gp,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,gp,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,gp,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,gp,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,ms,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,yes,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,ms,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,no,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,ms,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,no,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,ms,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,no,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,ms,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,no,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

In [36]:
"""  """

df["Mjob"].apply(len)
df.apply(len) # Ger storleken av varje rader

unnamed: 0    395
school        395
sex           395
age           395
address       395
famsize       395
pstatus       395
medu          395
fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
dalc          395
walc          395
health        395
absences      395
g1            395
g2            395
g3            395
dtype: int64

In [37]:
df.apply(len, axis="columns") # Ger storleken av varje kolumn

0      34
1      34
2      34
3      34
4      34
       ..
390    34
391    34
392    34
393    34
394    34
Length: 395, dtype: int64

In [38]:
df.apply(pd.Series.min) # Ger minsta värde i varje kolumn
df.apply(pd.Series.max) # Ger största värde i varje kolumn

TypeError: '<=' not supported between instances of 'str' and 'float'

In [ ]:
df.apply(lambda x: x.min()) # Ger minsta värde i varje kolumn
df.apply(lambda x: x.max()) # Ger största värde i varje kolumn

In [ ]:
df.apply(lambda x: x.map(len))
print(df.apply(lambda x: x.map(len)))

In [39]:
""" Kollar värderna i en kolumn """

df["paid"]

0       no
1       no
2      yes
3      yes
4      yes
      ...
390    yes
391     no
392     no
393     no
394     no
Name: paid, Length: 395, dtype: object

In [40]:
""" Ändra alla värden i en kolumn från yes till True och alla no till False"""

df["paid"] = df["paid"].map(lambda x: True if x == "yes" else False if x == "no" else x)
df

,unnamed: 0,school,sex,age,address,famsize,pstatus,medu,fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3
0,0,gp,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,False,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6
1,1,gp,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,False,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6
2,2,gp,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,True,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10
3,3,gp,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,True,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15
4,4,gp,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,True,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,ms,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,yes,True,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9
391,391,ms,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,no,False,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16
392,392,ms,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,no,False,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7
393,393,ms,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,no,False,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10
394,394,ms,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,no,False,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9

# Addera kolumner

In [45]:
""" Kombinera sex och guardian i en serie """
""" tänk på att man måste konvertera typer om de inte matcharm,  str + str"""
df["sex"] + " " + df["guardian"]

0      F mother
1      F father
2      F mother
3      F mother
4      F father
         ...
390     M other
391    M mother
392     M other
393    M mother
394    M father
Length: 395, dtype: object

In [59]:
""" Kombinera sex och guardian i en ny kolumn """

df["sex_and_guardiand"] = df["sex"] + " - " + df["guardian"]
df

,unnamed: 0,school,sex,age,address,famsize,pstatus,medu,fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,...,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3,age_and_guardiand,sex_and_guardiand
0,0,gp,F,18.0,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,...,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6,F - mother,F - mother
1,1,gp,F,17.0,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,...,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6,F - father,F - father
2,2,gp,F,15.0,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,...,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10,F - mother,F - mother
3,3,gp,F,15.0,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,...,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15,F - mother,F - mother
4,4,gp,F,16.0,U,GT3,T,3,3,other,other,home,father,1,2,0,no,...,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10,F - father,F - father
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,ms,M,20.0,U,LE3,A,2,2,services,services,course,other,1,2,2,no,...,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9,M - other,M - other
391,391,ms,M,17.0,U,LE3,T,3,1,services,services,course,mother,2,1,0,no,...,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16,M - mother,M - mother
392,392,ms,M,21.0,R,GT3,T,1,1,other,other,course,other,1,1,3,no,...,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7,M - other,M - other
393,393,ms,M,18.0,R,LE3,T,3,2,services,other,course,mother,3,1,0,no,...,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10,M - mother,M - mother
394,394,ms,M,19.0,U,LE3,T,1,1,other,at_home,course,father,1,1,0,no,...,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9,M - father,M - father

# Ta bort kolumner

In [60]:
""" Ta bort en eller flera kolumner """

drop = df.drop(columns= ["sex", "guardian"])
drop

,unnamed: 0,school,age,address,famsize,pstatus,medu,fedu,Mjob,Fjob,reason,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,dalc,walc,health,absences,g1,g2,g3,age_and_guardiand,sex_and_guardiand
0,0,gp,18.0,U,GT3,A,4,4,at_home,teacher,course,2,2,0,yes,no,False,no,yes,yes,no,no,4.0,3.0,4.0,1,1,3.0,6.0,5,6,6,F - mother,F - mother
1,1,gp,17.0,U,GT3,T,1,1,at_home,other,course,1,2,0,no,yes,False,no,no,yes,yes,no,5.0,3.0,3.0,1,1,3.0,4.0,5,5,6,F - father,F - father
2,2,gp,15.0,U,LE3,T,1,1,at_home,other,other,1,2,3,yes,no,True,no,yes,yes,yes,no,4.0,3.0,2.0,2,3,3.0,10.0,7,8,10,F - mother,F - mother
3,3,gp,15.0,U,GT3,T,4,2,health,services,home,1,3,0,no,yes,True,yes,yes,yes,yes,yes,3.0,2.0,2.0,1,1,5.0,2.0,15,14,15,F - mother,F - mother
4,4,gp,16.0,U,GT3,T,3,3,other,other,home,1,2,0,no,yes,True,no,yes,yes,no,no,4.0,3.0,2.0,1,2,5.0,4.0,6,10,10,F - father,F - father
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,ms,20.0,U,LE3,A,2,2,services,services,course,1,2,2,no,yes,True,no,yes,yes,no,no,5.0,5.0,4.0,4,5,4.0,11.0,9,9,9,M - other,M - other
391,391,ms,17.0,U,LE3,T,3,1,services,services,course,2,1,0,no,no,False,no,no,yes,yes,no,2.0,4.0,5.0,3,4,2.0,3.0,14,16,16,M - mother,M - mother
392,392,ms,21.0,R,GT3,T,1,1,other,other,course,1,1,3,no,no,False,no,no,yes,no,no,5.0,5.0,3.0,3,3,3.0,3.0,10,8,7,M - other,M - other
393,393,ms,18.0,R,LE3,T,3,2,services,other,course,3,1,0,no,no,False,no,no,yes,yes,no,4.0,4.0,1.0,3,4,5.0,0.0,11,12,10,M - mother,M - mother
394,394,ms,19.0,U,LE3,T,1,1,other,at_home,course,1,1,0,no,no,False,no,yes,yes,yes,no,3.0,2.0,3.0,3,3,5.0,5.0,8,9,9,M - father,M - father

In [70]:
""" Splitta en kolumn till flera kolumner """

drop[["sex", "guardian"]] = df["sex_and_guardian"].str.split(" - ", expand=True)

KeyError: 'sex_and_guardian'