# Pandas
Läs in en fil

In [ ]:
import pandas as pd

""" Om man vill göra en egen data frame """
df = pd.DataFrame({
    'A': [None, 1, 2, 3, 4],
    'B': [5, 6, None, 8, 9],
    'C': [10, 11, 12, 13, 14]
})

df

In [ ]:
"""OM man vill ladda en extern fil """

df = pd.read_csv("../Data/student-mat-missing-data.csv") # Man kan ställa in set_index i den extern filen
df

## Atributer och metoder

In [ ]:
df.shape # Enbart antal rader och kolumner

In [ ]:
df.columns # Namn på alla kolumner

In [ ]:
df.info() # info och lista av klumner, datatyper

In [ ]:
""" Generell beskrivning av statistiken """

df.describe()

In [ ]:
df.head() # Första 5 rader
df.head(10) # Första 10 rader

In [ ]:
df.tail() # lästasta 5 rader

## Inställningar

In [ ]:
""" Ställ in hur många rader och kolumner manuellt som man vill se """

pd.set_option('display.max_rows', 39)
pd.set_option("display.max_columns", 34)
df

## Välja rader och kolumner

In [ ]:
df.age.head()

In [ ]:
""" Samma som ovan """

df["age"].head() # Välj en kolumn

In [ ]:
""" Välja fler än en column """

df[["age", "freetime"]].head() # Man skriver alla kolumner som en lista

# iloc

In [ ]:
""" iloc används när man vill ha rader med hjälp av siffror """

df.iloc[[0, 5]] # Välj en eller flera specifika rader med interger

In [ ]:
df.iloc[0:5] # Välj en eller flera rader med slice

In [ ]:
df.iloc[:, 0:5].head(10) # Välj en eller flera kolumner med slice = Alla rader och bara klumner mellan 0 - 5

In [ ]:
df.iloc[0:5, 0:5] # slica kolumner och rader

In [ ]:
df.iloc[[0, 5], 2] # Välj specifika rader och kolumner, går även att slica. = Rad 0 och 5 i kolumn 2

# loc

In [ ]:
df.loc[0] # Välj en specifik rad

In [ ]:
df.loc[[0, 1], "age"] # Visar specifika rader och kolumner

In [ ]:
rader_kolumner = df.loc[[0, 1], ["age", "sex"]] # Visar specifika rader och kolumner = Rader i en lista och komlumner i en lista
rader_kolumner

In [ ]:
df.loc[0:5, "age":"Fjob"] # Slicar både rader och kolumner. Viktigt att skippa de inre listorna då...

In [ ]:
""" Se alla värden i en kolumn """

df["sex"].value_counts()

# INDEX

In [ ]:
""" Sätter index till en kolumn """

df.set_index("Unnamed: 0").head()

In [ ]:
""" Resettar indexet och returnerar den """

df.reset_index()

# SORTERA

In [25]:
""" Sortera indexet eller kolumner """

sort = df.sort_index().head() # Sortera indexet

sort1 = df.sort_index(ascending=False).head() # Sorterar bakifrån, skriv inplace=True iparantesen för att ändra i df

sort2 = df.sort_values("age") # Sorterar efter specifik kolumn

# FILTRERA

In [ ]:
""" Filtrera efter bokstäver """

filt = (df["school"] == "GP")

df[df["school"] == "GP"] 

df[filt] # Samma som df[df["reason"] == "GP"]

df.loc[filt] # Också samma sak

In [ ]:
""" Filtrera efter värden i flera kolumner """
""" Antingen genom & och, | eller """

filt = (df["school"] == "GP") & (df["sex"] == "F") # Visa rader som innhåller värden som måste finns i båda kolumnerna 
filt = (df["school"] == "GP") | (df["sex"] == "F") # Visa rader som innhåller värden som finns i en kolumn eller en annan  
filt

In [ ]:
""" Filtrera efter värden i en kolumn """

filt = (df["school"] == "GP")
df.loc[~filt, "school"] # Visa alla rader som inte har värdet i en kolumn

df.loc[~filt] # Visar alla rader och kolumner som inte innehåller "GP"

In [ ]:
""" Filtrera över eller under en integer """

high_age = (df["age"] > 18)

df[high_age] # Visar alla kolumner som har "age" ålder över 18
df.loc[high_age] # Samma syntax som ovan

df.loc[high_age, ["sex", "Mjob", "age"]] # Söker alla rader i specifika kolumner som är över 18 år


""" """
mjob = ["health", "at_home"]
filt = df["Mjob"].isin(mjob)

df.loc[filt, "Mjob"] # Filtrerar också specifika värden i specifika rader eller kolumner


""" """
filt1 = df["Mjob"].str.contains("at", na=False) # Söker efter en del av en sträng i en specifik kolumn och struntar om det finns några NaN värden. 
filt1 # Visar rader som boolean
df.loc[filt1] # Visar rader med sökt str och alla dess kolumner
df.loc[filt1, "Mjob"] # Söker efter del av str i Mjob kolumnen
df.loc[filt1, "Fjob"] # Söker efter del av sträng i Mjob kolumnen men visar värderna från samma rad i Fjob kolumnen. Mycket användbart
df.loc[filt1]

# Uppdatera rader och kolumner

In [ ]:
""" Ändra versaler, gemener och specifika karaktärer i kolumnnamn """

"""
df.columns= [x.upper() for x in df.columns] # Ändrar kolumnnamn till stora bokstäver
df.columns= df.columns.str.replace("", "_") # Ändrar karaktärer från ett värde till ett annant i kolumn namen. I det här faller mellanslag till underscore
"""
# df.columns= df.columns.str.replace("_", "") # Ändrar karaktärer från ett värde till ett annant i kolumn namen. I det här faller mellanslag till underscore
df.columns= [x.lower() for x in df.columns]
df

In [ ]:
""" Ändra namn på column"""

df.rename(columns={"mjob": "Mjob", "fjob": "Fjob"}, inplace=True)
df.head()

In [ ]:
""" Ändra en eller flera datapunkt"""

# df.loc[2] = [2, "Ändrat från GP", "F", 15.0, "U", "GT3", "T", 1, 1, "at_home", "at_home", "reason", "guard"] # Ändrar värdet i en datapunkt, men man behöver skriva alla kolumn namn
# df.loc[2, "school"] == "GÖ"
# df.loc[2, ["school", "adress"]] == ["GT", "O"]

df.loc[2, 'school'] == 'hm'

### Ändra stora - små bokstäver

In [ ]:
""" Ändra versaler och gemener i en kolumn"""

lower = df["school"].str.lower() # Sparar kolumens gemener i en variabel
lower

df["school"] = df["school"].str.lower() # Ändrar versaler till gemener i en kolumn
df

df["Mjob"].apply(len) # Ger oss hur många karaktärer varje datapunkt innehåller i en kolumn

In [ ]:
""" Ändra versaler och gemener med funktioner, bara i serier (en kolumn) """
def update_mjob(x):
    return x.upper()

df["Mjob"].apply(update_mjob)

df["Mjob"] = df["Mjob"].apply(update_mjob)
df

In [ ]:
""" Ändra med lambda, bara i serier (en kolumn) """

df["Mjob"] = df["Mjob"].apply(lambda x: x.lower())
df

In [ ]:
"""  """

df["Mjob"].apply(len)
df.apply(len) # Ger storleken av varje rader

In [ ]:
df.apply(len, axis="columns") # Ger storleken av varje kolumn

In [ ]:
df.apply(pd.Series.min) # Ger minsta värde i varje kolumn
df.apply(pd.Series.max) # Ger största värde i varje kolumn

In [ ]:
df.apply(lambda x: x.min()) # Ger minsta värde i varje kolumn
df.apply(lambda x: x.max()) # Ger största värde i varje kolumn

In [ ]:
df.apply(lambda x: x.map(len))
print(df.apply(lambda x: x.map(len)))

In [ ]:
""" Kollar värderna i en kolumn """

df["paid"]

In [ ]:
""" Ändra alla värden i en kolumn från yes till True och alla no till False"""

df["paid"] = df["paid"].map(lambda x: True if x == "yes" else False if x == "no" else x)
df

# Addera kolumner

In [ ]:
""" Kombinera sex och guardian i en serie """
""" tänk på att man måste konvertera typer om de inte matchar, str + str"""
df["sex"] + " " + df["guardian"]

In [ ]:
""" Kombinera kolumner ( sex och guardian) i en ny kolumn """

df["sex_and_guardiand"] = df["sex"] + " - " + df["guardian"]
df

In [ ]:
""" Lägger till en kolumn från en tabell till en annan tabell
Tänk på att man måste skapa/namnge den nya kolumnen i mottagarens tabell """ 

df['kolumn_namn'] = annan_df['kolumn_namn']

# Ta bort kolumner

In [ ]:
""" Ta bort en eller flera kolumner """

drop = df.drop(columns= ["sex", "guardian"])
drop

In [ ]:
""" Splitta en kolumn till flera kolumner """

drop[["sex", "guardian"]] = df["sex_and_guardian"].str.split(" - ", expand=True)

# Ta bort whitespace

In [ ]:
# Ta bort ws i hela dataframet
df.columns = df.columns.str.replace(' ', '')

# Tar bort ws i början av en str
df.columns = df.columns.str.lstrip()

# Tar bort ws i slutet av en str
df.columns = df.columns.str.rstrip()

# Tar bort ws i början och slutet av en str
df.columns = df.columns.str.strip()

# Tar bort ws och andra tecken i hela dataaframet
df.columns = df.columns.str.replace(' ', '_')

# osv.

# Man kan ta specifik kolumn också som tex
df[col] = df[col].str.strip()

# Man kan lägga till allt som en kedja
df.columns = df.columns.str.strip().str.replace(' ', '_')

""" Om inget annat fungerar... """
def convert_to_float(value): 
    
    return float(value.replace(' ', '')) # Kan vara tecken också, man får bort allt man vill.

df["Befolkning"] = df["Befolkning"].apply(convert_to_float)

# Gör kolumner numeriska

In [ ]:
df = df.apply(pd.to_numeric, errors='coerce') # Gör hela tabellen numerisk

df["År"] = pd.to_numeric(df["År"]) # Gör en kolumn numerisk "

# Dubletter

In [ ]:

df_without_duplicates = df.drop_duplicates() # Tar bort alla dubletter i tabellen

df_without_duplicates = df.drop_duplicates(subset=["År"]) # Tar bort alla dubletter i en kolumn